DB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=
PORT=

# Email Configuration
SENDGRID_API_KEY=
SENDGRID_SENDER_EMAIL=

# twilio configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_PHONE_NUMBER=

# intercom secret key
INTERCOM_SECRET_KEY=
ENVIROMENT=

# Super Admin config
SUPER_ADMIN_NAME=
SUPER_ADMIN_PHONE=